@import "tailwindcss";



/*
  GREEN WE WILL USE: #74C365

*/


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face{
  font-family:'Lora';
  src: url('/frontend/public/fonts/Lora-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lora', Arial, Helvetica, sans-serif; /* Apply Treova font */
}

/* Hide scrollbars utility */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
